@charset "UTF-8";

html,
body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins' , sans-serif;
    margin: auto;
}

div{
    display: block;
}

nav {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color:#3e5c76;
    list-style: none;
    box-shadow:lightgray 0 1px;
    color: #f0ebd8;
}

nav > .logo{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 20px;
    margin-left: 20px;
}