@charset "UTF-8";
/* it is clockwise for px e.g. 0px-up 1px-right 0px-down 1px-lest */
html,
body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins' , sans-serif;
    margin: auto;
}
div{
    display: flex;
}
.row{
    width: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color:#3e5c76;
    list-style: none;
    box-shadow:lightgray 0 1px;
    color: #f0ebd8;
}
nav > .row{
    width: auto;
}
nav > .row > .logo{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 20px;
    margin-left: 20px;
}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* searchcontainer */
.search-container{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
}
.search-container > .row{
    width: auto;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
/* searchcontainer */
/* search options container */
.search-options {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.search-items{
    width: auto;
    height: 100%;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    align-items: center;
}
.search-items:hover {
    background-color: #ebebeb;
}
.refresh-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    z-index: 1;
}
.refresh-button:hover {
    cursor: pointer;
}
.search-items > .refresh-button> a{
    font-size: 18px;
    color: #5e5e5e;
}
.refresh {
    height: 26px;
    width: 32px;
}
/* search options container */
/* location container */
.location-container{
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.start-search {
    width: 260px;
}
.search-box{
    width: 100%;
    height: 100%;
    background: #ffffff;
    color: #3f3f3f;
    border-style: solid;
    border-color: #bbbbbb;
    box-shadow: none;
    border-width: 2px;
    border-radius: 5px;
    font-size: 18px;
    text-indent: 10px;
}
.search-box::placeholder{
    color:#a3a4a5;
    opacity: 1;
}
.search-box:focus{
    border-style: solid;
    border-color: #4e4e4e;
    box-shadow: none;
    border-width: 2px;
    border-radius: 5px;
    outline: none;
}
.space{
    padding-left: 2px;
    padding-right: 2px;
    width: auto;
}
.swap-button {
    border: 0;
    outline: 0;
    background: #ffffff;
    width: 100%;
    z-index: 0;
}
.reverse {
    z-index: 1;
    width: 32px;
    height: 32px;
}
/* location container */
.datetimepicker {
	display: inline-flex;
	align-items: center;
	background-color: #fff;
    height: 100%;
	border: 2px solid #bbbbbb;
	border-radius: 5px;
    height: 100%;
    width: 260px;
    color: #3f3f3f;
	
	&:focus-within {
		border-color: #3f3f3f;
        color: #000000;
	}
	
	input {
		font: inherit;
		color: inherit;
		appearance: none;
		outline: none;
		border: 0;
		background-color: transparent;
		
		&[type=date] {
			width: 9rem;
			padding: .25rem 0 .25rem .5rem;
			border-right-width: 0;
		}
		
		&[type=time] {
			width: 8rem;
			padding: .25rem 0rem .25rem 0;
			border-left-width: 0;
		}
	}
	
	span {
		height: 1rem;
		margin-right: .25rem;
		margin-left: .25rem;
		border-right: 1px solid #ddd;
	}
}

.gap{
    width: 90px;
}

/* search button container */
.search-button-container {
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -18px;
    height: auto;
}
.search-button-item {
    padding-left: 3px;
    padding-right: 3px;
    width: 140px;
}
.search-button {
    width: 100%;
    height: 36px;
    border-radius: 18px;
    border: none;
    background-color: #5d7e9b;
    box-shadow: 0 6px 10px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    z-index: 1;
    padding-left: 14px;
    padding-right: 30px;
}
.search-button:hover {
    cursor: pointer;
    background-color: #516b81;
}
.search-button > a {
    color:#ffffff;
    font-size: 20px;
}
.search-button-icon {
    height: 32px;
}
/* search button container */
/* start search auto complete*/
.start-search-dropdown {
    position: absolute;
    width: 450px;
    flex-direction: column;
    z-index: 7;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    overflow: none;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.137);
}
.end-search-dropdown {
    position: absolute;
    width: 450px;
    flex-direction: column;
    z-index: 7;
    background-color: #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    overflow: none;
    display: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.137);
}
.dropbox-search-box{
    margin: 0px 10px 0px 10px;
    width: 100%;
    height: 55px;
    background: #ffffff;
    color: #3f3f3f;
    border-style: none;
    font-size: 18px;
}
.dropbox-search-box:focus{
    border-style: none;
    box-shadow: none;
    outline: none;
}
.result-box{
    margin-top: auto;
    background-color: #ffffff;
}
.result-box ul{
    border-top: 1px solid #dbdbdb;
    margin: 0px 2px 0px 2px;
    width: 100%;
    padding: 5px 0 5px 0;
}
.result-box ul li{
    width: 450px;
    margin-left: -2px;
    background-color: #ffffff;
    list-style: none;
    border-radius: 4px;
    padding: 15px 0 15px 0;
    cursor: pointer;
    text-indent: 15px;
}
.result-box ul li:hover{
    background-color:#f3f3f3;
}
/*travel cards*/
.travel-card{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 30px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #d1d1d1;
}
.travel-card .row{
    padding-left: 30px;
    padding-right: 30px;
}

.route-image{
    width: 68px;
    text-align: center;
    align-items: center;
}
.time-service{
    flex-direction: column;
}
.time{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 20px;
}
.service{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 16px;
    color:#585858
}
.length-name{
    flex-direction: column;
}
.length{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 20px;
}
.name{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 16px;
    color:#585858
}
.stops{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 20px;
}
.fare{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.1px;
    line-height: 20px;
}

@media screen and (max-width: 1024px) {
    .search-container {
        width: 640px;
    }
    .location-container {
        width: 100%;
    }
    .time-container {
        width: 100%;
    }
    .datetimepicker{
        width: 640px;
    }
  }
